{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.contacts_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.contacts_list'|trans }}</h1>

    <div class="mb-3">
        <a href="{{ url('contacts_create') }}" class="btn btn-success">
            {{ 'action.add_new'|trans }}
        </a>
    </div>

    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'contacts.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 'contacts.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.phone'|trans, 'contacts.phone') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'contacts.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'contacts.updatedAt') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in pagination.items %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.createdAt|format_date('long') }}</td>
                    <td>{{ contact.updatedAt|format_date('long') }}</td>
                    <td>
                        <a href="{{ url('contacts_show', {id: contact.id}) }}" class="btn btn-info btn-sm" title="{{ 'action.show'|trans }}">
                            <i class="bi bi-eye"></i> {{ 'action.show'|trans }}
                        </a>
                        <a href="{{ url('contacts_edit', {id: contact.id}) }}" class="btn btn-warning btn-sm" title="{{ 'action.edit'|trans }}">
                            <i class="bi bi-pencil"></i> {{ 'action.edit'|trans }}
                        </a>
                        <a href="{{ url('contacts_delete', {id: contact.id}) }}" class="btn btn-danger btn-sm" title="{{ 'action.delete'|trans }}" onclick="return confirm('{{ 'message.confirm_delete'|trans }}')">
                            <i class="bi bi-trash"></i> {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p class="alert alert-warning">
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
