{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.change_password_for_user'|trans({'%email%': user.email}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.change_password_for_user'|trans({'%email%': user.email}) }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword) }}
    {{ form_row(form.confirmNewPassword) }}
    <button class="btn btn-primary">{{ 'action.change_password'|trans }}</button>
    {{ form_end(form) }}

    <a href="{{ path('user_index') }}">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
