{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_details'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_details'|trans({'%id%': user.id|default('')}) }}</h1>

    {% if user is defined %}
        <dl class="row">
            <dt class="col-sm-3">{{ 'label.id'|trans }}</dt>
            <dd class="col-sm-9">{{ user.id }}</dd>

            <dt class="col-sm-3">{{ 'label.email'|trans }}</dt>
            <dd class="col-sm-9">{{ user.email }}</dd>

            <dt class="col-sm-3">{{ 'label.roles'|trans }}</dt>
            <dd class="col-sm-9">{{ user.roles|join(', ') }}</dd>
        </dl>
        <div class="mt-3">
            <a href="{{ path('user_index') }}" class="btn btn-secondary">{{ 'action.back_to_list'|trans }}</a>
        </div>
    {% else %}
        <div class="alert alert-warning mt-3">{{ 'message.record_not_found'|trans }}</div>
    {% endif %}
{% endblock %}
