{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_details'|trans({'%id%': tag.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_details'|trans({'%id%': tag.id|default('')}) }}</h1>

    {% if tag is defined %}
        <dl class="row">
            <dt class="col-sm-3">{{ 'label.id'|trans }}</dt>
            <dd class="col-sm-9">{{ tag.id }}</dd>

            <dt class="col-sm-3">{{ 'label.title'|trans }}</dt>
            <dd class="col-sm-9">{{ tag.title }}</dd>
        </dl>
        <div class="mt-3">
            <a href="{{ path('tag_index') }}" class="btn btn-secondary">{{ 'action.back_to_list'|trans }}</a>
        </div>
    {% else %}
        <div class="alert alert-warning mt-3">{{ 'message.record_not_found'|trans }}</div>
    {% endif %}
{% endblock %}
