<!DOCTYPE html>
<html lang="{{ app.request.locale|default('en') }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'title.welcome'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
              rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body>
<header class="container-fluid mb-4">
    {% block header %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="d-flex justify-content-end">
                <span class="me-3">{{ app.user.email }}</span>
                <a href="{{ path('event_index') }}" class="btn btn-outline-primary me-2">{{ 'action.event_index'|trans }}</a>
                <a href="{{ path('contacts_index') }}" class="btn btn-outline-primary me-2">{{ 'action.contacts_index'|trans }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('tag_index') }}" class="btn btn-outline-primary me-2">{{ 'action.tag_index'|trans }}</a>
                    <a href="{{ path('category_index') }}" class="btn btn-outline-primary me-2">{{ 'action.category_index'|trans }}</a>
                    <a href="{{ path('user_index') }}" class="btn btn-outline-primary me-2">{{ 'action.manage_users'|trans }}</a>
                {% endif %}
                <a href="{{ path('user_change_password') }}" class="btn btn-outline-warning me-2">{{ 'action.change_password'|trans }}</a>
                <a href="{{ path('app_logout') }}" class="btn btn-outline-secondary">{{ 'action.logout'|trans }}</a>
            </div>
        {% else %}
            <div class="d-flex justify-content-end">
                <a href="{{ path('app_login') }}" class="btn btn-outline-primary">{{ 'action.login'|trans }}</a>
            </div>
        {% endif %}
    {% endblock %}
</header>

<main role="main" class="container-fluid">
    <div class="container-fluid">
        {% include 'default/_flash_messages.html.twig' %}
        {% block body %}{% endblock %}
    </div>
</main>

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
            integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQ+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
